@using HCMS.Dynamics.Data
@{
    var menu = DDB.GetTable("cms", "menu").DRows;

    var quickLinks = DDB.GetTable("cms", "quicklinks").DRows;
    var socials = DDB.GetTable("cms", "socials").DRows;
    var sliders = DDB.GetTable("cms", "slider").DRows;
    var setting = DDB.GetTable("cms", "setting").DRows.FirstOrDefault();
    var meta = DDB.GetTable("cms", "meta").DRows.FirstOrDefault();


}
<!DOCTYPE html>
<html lang="fa">

<head>

    <base href="~/" />
    <meta charset="utf-8" />
    <title>حیات نو | @ViewBag.title </title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

    @if (meta != null)
    {
        var label = "";
        foreach (var item in meta.GetGroup("keywords"))
        {
            label += item.GetValue("label") + ", ";
        }

        <meta name="description" content="@meta.GetValue("description")">
        <meta name="Keywords" content="@label">

        <meta name="author" content="HappySpider">
        <meta name="robots" content="nofollow">
        @*<meta name="alexaVerifyID" content="zrJoKU2oucs-J6KcPl7fTZY_f-Q" />
            <meta name="p:domain_verify" content="cc32b168bb374202b716b1056442e601" />*@
        <meta property="title" content="@meta.GetValue("title")">
        <meta property="site_name" content="hayat-no">
        <meta property="url" content="http://hayat-no.com">
        <meta property="description" content="@meta.GetValue("description2")">
        <meta property="type" content="article">
    }

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="/Themes/hayat2/img/Fave Icon Hayat No.png" rel="shortcut icon">
    <link href="~/Themes/hayat2/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />



    <!-- reset css defaults -->
    <link href="~/Themes/hayat2/lib/resetcss/reset.min.css" rel="stylesheet" />


    <!-- Bootstrap CSS File -->
    <link href="~/Themes/hayat2/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/lib/bootstrap-rtl/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Packages/sweetalert/sweetalert.min.css" rel="stylesheet" />

    <!-- Libraries CSS Files -->
    <link href="~/Themes/hayat2/lib/animate-css/animate.min.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/lib/aos/aos.min.css" rel="stylesheet" />


    <!-- hayat styles -->
    
    <link href="~/Themes/hayat2/css/hayat.min.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    @*<link href="~/Themes/hayat2/css/new-hayat.min.css?v=@DateTime.Now.Ticks" rel="stylesheet" />*@
    <link href="~/Themes/hayat2/css/blocks.min.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/logo.min.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/places.min.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/slider.min.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/gallery.min.css?v=@DateTime.Now.Ticks" rel="stylesheet" />

    <!--Blocks Css-->
    <link href="~/Themes/hayat2/css/blocks/block-a.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/blocks/block-b.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/blocks/block-c.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/blocks/block-main.css" rel="stylesheet" />

    <!--Plans css-->
    <link href="~/Themes/hayat2/css/plan/plan-a.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/plan/plan-b.css" rel="stylesheet" />
    <link href="~/Themes/hayat2/css/plan/plan-c.css" rel="stylesheet" />



    <script src="~/Themes/hayat2/lib/underscore/underscore.min.js"></script>
    <script src="~/Themes/hayat2/lib/async/async.min.js"></script>
    <script src="~/Themes/hayat2/lib/aos/aos.min.js"></script>

    @*<script src="~/Themes/hayat2/lib/jquery/jquery.min.js"></script>*@

    @*<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>*@
    <script src="~/Packages/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    @*<script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>*@

    @*    <script src="~/Packages/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>*@

    <script src="~/Packages/jquery.mobile-1.4.5/jquerymobile-swipeupdown.js"></script>

    <script src="~/Themes/hayat2/js/logo.js"></script>

    @*<script src="~/Packages/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>*@

    <script src="~/Themes/hayat2/lib/jquery/jquery.touchSwipe.min.js"></script>
    @*<script src="~/Packages/hammerjs/hammer.min.js"></script>
        <script src="~/Packages/hammerjs/jquery.hammer.js"></script>*@

    <link href="~/Packages/introjs/introjs.min.css" rel="stylesheet" />
    <link href="~/Packages/introjs/introjs-rtl.min.css" rel="stylesheet" />

    <!--loader-->
    <link href="~/Themes/hayat2/css/loader.css" rel="stylesheet" />
    @RenderSection("styles", false)

    <script src="~/Packages/introjs/intro.min.js"></script>
</head>

<body>

    <div class="spinner" id="spinner">
        <img src="~/Themes/hayat2/module/Jquery-FullGallery/img/loader.gif" alt="loader" />
    </div>

    <div id="loader">
        <div class="logo-wrapper">
            <div class="logobox">
            </div>
        </div>
    </div>
    <input type="hidden" id="welcome-to-user" value="@TempData["userRegister"]" />


    <header class="hidden-mobile">

        <div class="logo">
            <img src="~/Themes/hayat2/img/logo/Ebtekar Saze Samle Logo.png" />
        </div>

        <a href="~/" class="homelogo" title="بازگشت به صفحه اصلی">
            <img src="~/Themes/hayat2/img/logo/Hayate no Logo black.png" />
        </a>

        <div class="links">
            <ul>
                <li>
                    <a href="/visit">
                        <i class="fa fa-calendar"></i>
                        <span>
                            رزرو بازدید
                        </span>
                    </a>
                </li>

                <li>
                    <i class="fa fa-envelope"></i>
                    <span class="ltr email">
                        @setting.GetValue("email")
                    </span>
                </li>


                <li>
                    <i class="fa fa-phone-square"></i>
                    <span class="ltr phone">
                        @setting.GetValue("mainPhone")
                    </span>
                </li>
            </ul>
        </div>
        <nav>
            <ul>

                @foreach (var item in menu)
                {

                    <li>
                        <a href="@item.GetValue("url")">
                            @item.GetValue("name")

                        </a>

                        @if (!string.IsNullOrWhiteSpace(item.GetValue("text").Value))
                        {
                            <div class="child-menu">
                                @Html.Raw(item.GetValue("text").Value.Replace(Environment.NewLine, "<br />"))

                            </div>

                        }

                    </li>

                }

                @if (User.Identity.IsAuthenticated && User.IsInRole("user"))
                {
                    <li class="pull-left">
                        <a href="">
                            <i class="fa fa-user"></i>
                            @{
                                var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

                                if (claimsIdentity != null)
                                {
                                    var c = claimsIdentity.FindFirst("FullName");

                                    if (c != null)
                                    {

                                        if (c.Value.Length > 11)
                                        {
                                            <span>
                                                @c.Value.ToString().Substring(0, 10) ...
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                @c.Value.ToString()
                                            </span>
                                        }
                                    }
                                }

                                else
                                {
                                    <span>
                                        @User.Identity.Name
                                    </span>
                                }
                            }
                            خوش آمدید

                        </a>

                        <div class="child-menu">
                            <form action="/fa-ir/manage/auth/LogOff" method="post">
                                <button type="submit" class="btn btn-primary">خروج</button>
                            </form>
                        </div>
                    </li>
                                }
                                else
                                {
                                    <li class="pull-left">
                                        <a href="/auth">
                                            <i class="fa fa-user"></i>
                                            ورود
                                        </a>
                                    </li>
                                }

            </ul>

        </nav>

        <div class="search-bar">
            <i class="fa fa-search" onclick="toggleSearchBar()"></i>


            <input class="form-control" name="floor" placeholder="طبقه را وارد کنید" />
            <select class="form-control" name="roomCount">
                <option>تعداد اتاق را انتخاب کنید</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>

            <select class="form-control" name="area">
                <option>متراژ </option>
                <option value="80">80 - 100</option>
                <option value="100">100 - 120</option>
                <option value="120">120 - 140</option>
                <option value="140">140 - 180</option>
            </select>
            <button class="btn btn-success">
                جست و جو
            </button>
        </div>
    </header>

    @*<div class="show-mobile bar" id="menu-bar">
        </div>*@
    <div class="show-mobile top-nav">
        <div class="bar" id="menu-bar">
            <img src="~/Themes/hayat2/img/icon.png" />
        </div>

        <a class="logo" href="/">
            <img src="~/Themes/hayat2/img/logo/Ebtekar Saze Samle Logo.png" />
        </a>
        <div class="search">
            <i class="fa fa-search" id="top-nav-search"></i>
        </div>
    </div>

    <div class="show-mobile bottom-nav">
        <div class="main-icons">
            <div class="left-icons-mobile child min">
                <i class="fa fa-map has-sub" id="right-icon"></i>


                <ul>
                    @foreach (var item in quickLinks)
                    {
                        var first = item.GetGroup("links").FirstOrDefault();
                        <li>
                            <a href="@first.GetValue("url")">
                                <i title="@item.GetValue("title")" data-target="link" class="@item.GetValue("icon")"></i>
                            </a>
                            <div class="descrp">
                                @Html.Raw(item.GetValue("text"))
                                <i class="fa fa-close"></i>
                                <ul>
                                    @foreach (var subitem in item.GetGroup("links"))
                                    {

                                        <li>
                                            <a href="@subitem.GetValue("url")"> @subitem.GetValue("subtitle")</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <div class="right-icons-mobile child min">
                <i class="fa fa-share-alt has-sub" id="share-icons"></i>

                <ul>

                    @foreach (var item in socials)
            {
                        <li>
                            <a href="@item.GetValue("link")" target="_blank">  <i class="@item.GetValue("icon")"></i></a>
                        </li>

                    }

                </ul>
            </div>
        </div>


        <div class="btn-arrow" id="page-up"><i class="fa fa-chevron-up"></i></div>
        <div class="btn-arrow" id="page-down"><i class="fa fa-chevron-down"></i></div>
    </div>

    <div class="search-bar show-mobile">

        <input class="form-control" name="floor" placeholder="طبقه را وارد کنید" />
        <select class="form-control" name="roomCount">
            <option>تعداد اتاق را انتخاب کنید</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>

        <select class="form-control" name="area">
            <option>متراژ </option>
            <option value="80">80 - 100</option>
            <option value="100">100 - 120</option>
            <option value="120">120 - 140</option>
            <option value="140">140 - 180</option>
        </select>

        @*<i class="fa fa-search" onclick="toggleSearchBar()"></i>*@
        <button class="btn btn-success">
            جست و جو
        </button>

    </div>

    <header class="show-mobile noSwipe">
        <div class="close">
            <i class="fa fa-close"></i>
        </div>

        @*<div class="logo">
                <img src="~/Themes/hayat2/img/logo/Ebtekar Saze Samle Logo.png" />
            </div>

            <a href="~/" class="homelogo">
                <img src="~/Themes/hayat2/img/logo/Hayate no Logo black.png" />
            </a>*@

        <nav>
            <ul>
                <li>
                    <a href="/">
                        صفحه اصلی
                    </a>
                </li>
                @foreach (var item in menu)
                {

                    <li>
                        <a href="@item.GetValue("url")" class="under-line-animate">
                            @item.GetValue("name")

                        </a>

                        @if (!string.IsNullOrWhiteSpace(item.GetValue("text").Value))
                        {
                            <div class="child-menu">
                                @Html.Raw(item.GetValue("text").Value.Replace(Environment.NewLine, "<br />"))

                            </div>

                        }

                    </li>

                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="pull-left">
                        <a href="">
                            <i class="fa fa-user"></i>
                            @{
                                var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

                                if (claimsIdentity != null)
                                {
                                    var c = claimsIdentity.FindFirst("FullName");

                                    if (c != null)
                                    {

                                        if (c.Value.Length > 15)
                                        {
                                            <span>
                                                @c.Value.ToString().Substring(0, 14) ...
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                @c.Value.ToString()
                                            </span>
                                        }
                                    }
                                }

                                else
                                {
                                    <span>
                                        @User.Identity.Name
                                    </span>
                                }
                            }
                            خوش آمدید

                        </a>

                        <div class="child-menu">
                            <form action="/fa-ir/manage/auth/LogOff" method="post">
                                <button type="submit" class="btn btn-block hayatbtn">
                                    <i class="fa fa-lock"></i>
                                    خروج
                                </button>
                            </form>
                        </div>
                    </li>
                                }
                                else
                                {
                                    <li class="pull-left">
                                        <a href="/auth">
                                            <i class="fa fa-user"></i>
                                            ورود
                                        </a>
                                    </li>
                                }
                <li>
                    <a href="/Visit">
                        رزرو بازدید
                    </a>
                </li>

                <li>
                    <a href="/blocks#catalog">
                        کاتالوگ
                    </a>
                </li>
            </ul>

        </nav>

        @*<div class="search-bar">
                <i class="fa fa-search" onclick="toggleSearchBar()"></i>


                <input class="form-control" placeholder="طبقه را وارد کنید" />
                <select class="form-control">
                    <option>تعداد اتاق را انتخاب کنید</option>
                    <option>2</option>
                    <option>3</option>
                </select>

                <select class="form-control">
                    <option>متراژ </option>
                    <option>80 - 100</option>
                    <option>100 - 120</option>
                    <option>120 - 140</option>
                    <option>140 - 180</option>
                </select>

            </div>*@
    </header>

    @*<div class="alert alert-danger show-safari">
        وب سایت در مرورگر سافاری ( آیفون و آیپد ) بهینه نشده است. در صورت بروز مشکل در پر کردن فرم ها از مرورگر کروم استفاده کنید. برای دانلود <a href="https://itunes.apple.com/us/app/google-chrome/id535886823?mt=8" target="_blank">اینجا</a> کلیک کنید.
        <i class="fa fa-close" onclick="$('.show-safari').removeClass('active');"></i>
    </div>*@
    @RenderBody()



    <div class="gallery">
        <div class="full-image">
            <i class="fa fa-close"></i>

            <i class="fa fa-chevron-left" id="prev" aria-hidden="true"></i>

            <i class="fa fa-chevron-right" id="next"></i>

            <div class="preview cscroll">
                <img src="" data-item="" class="" />
            </div>
        </div>
    </div>

    <div class="unit-full-img">
        <i class="fa fa-close"></i>
        <div class="preview cscroll">
            <img src="" class="img-responsive" />
        </div>
    </div>

    <div class="back-to-top hidden-mobile"><i class="fa fa-chevron-up"></i></div>




    <!-- Required JavaScript Libraries -->

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1YnR95LCRaznjcExHiMVSS6mt8GJXiks&callback=initMap">
    </script>

    <script>
        function initMap() {

            if (!$('.page-places .map')[0])
                return;

            var uluru = { lat: 35.789581, lng: 51.495528 };
            map = new google.maps.Map($('.page-places .map')[0], {
                zoom: 16,
                scrollwheel: false,
                center: uluru
            });

            new google.maps.event.addListener(map, 'click', function (event) {
                this.setOptions({ scrollwheel: true });
            });


        }
    </script>
    @*<script src="~/Themes/hayat2/lib/jquery/3.1.1/jquery3-1-1.js"></script>*@

    <script src="~/Themes/hayat2/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Packages/sweetalert/sweetalert.min.js"></script>
    <script src="~/Packages/modernizr-2.8.3/modernizr-2.8.3.min.js"></script>
@* <script src="~/Themes/hayat2/js/scroll.js"></script>
        <script src="~/Themes/hayat2/js/newScroll.js"></script>
        <script src="~/Themes/hayat2/js/unit.js"></script>

        <script src="~/Themes/hayat2/js/slider.js"></script>
        <script src="~/Themes/hayat2/js/videoslider.js"></script>
        <script src="~/Themes/hayat2/js/custom.js"></script>
        <script src="~/Themes/hayat2/js/blocks.js"></script>*@

    <script src="~/Themes/hayat2/js/blocks.js"></script>
    <script src="~/Themes/hayat2/js/custom.js"></script>
    <script src="~/Themes/hayat2/js/scroll.js"></script>
    <script src="~/Themes/hayat2/js/slider.js"></script>
    <script src="~/Themes/hayat2/js/videoslider.js"></script>

@*<script src="~/Themes/hayat2/js/hayat.js?v=@DateTime.Now.Ticks"></script>*@
    <script src="~/Themes/hayat2/js/newScroll.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/Themes/hayat2/js/unit.js?v=@DateTime.Now.Ticks"></script>

    <script src="~/Themes/hayat2/js/gallery.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/Themes/hayat2/lib/resize-image-map/resize-image-map.js"></script>
    <!-- hayat JS Bundle -->

    @if (Request.Url.ToString().Contains("hayat-no"))
    {
        <script type="text/javascript">!function () { function t() { var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, localStorage.getItem("rayToken") ? t.src = "https://app.raychat.io/scripts/js/" + o + "?rid=" + localStorage.getItem("rayToken") + "&href=" + window.location.href : t.src = "https://app.raychat.io/scripts/js/" + o; var e = document.getElementsByTagName("script")[0]; e.parentNode.insertBefore(t, e) } var e = document, a = window, o = "6ac9b849-cb3a-448c-9ebc-274e235e2753"; "complete" == e.readyState ? t() : a.attachEvent ? a.attachEvent("onload", t) : a.addEventListener("load", t, !1) }();</script>

    }

    @RenderSection("scripts", false)

    <script>

        //introJs().setOptions(
        //         {
        //             'nextLabel': 'بعد'
        //         , 'prevLabel': 'قبل'
        //         , 'skipLabel': 'خروج'
        //         , 'doneLabel': 'اتمام'
        //         }).onchange(function (targetElement) {

        //         }).start('.block');


        //showTour = function () {

        //    introJs().setOptions(
        //      {
        //          'nextLabel': 'بعد'
        //      , 'prevLabel': 'قبل'
        //      , 'skipLabel': 'خروج'
        //      , 'doneLabel': 'متوجه شدم'
        //      }).onchange(function (targetElement) {
        //          switch (targetElement.getAttribute('data-step')) {
        //              case "1":
        //                  break;
        //              case "6":
        //                  break;
        //              default:

        //          }
        //      }).start('.block');
        //}

    </script>

</body>

</html>
