@using HCMS.Dynamics.Data
@using MoreLinq
@using HCMS.Dynamics.Tools

@{
    var phrases = (HCMS.Dynamics.Localization.Phrases)ViewBag.Phrases;
    var cc = phrases.CurrentCulture;
    var modelList = HCMS.Dynamics.Data.DDB.GetTable("cms", "article", cc.ID).DRows.OrderByDescending(p => p.RowID).AsEnumerable();
    var orginalModelList = modelList.AsEnumerable();
    var porjectUrl = ViewContext.RouteData.Values["url"];
    DRow foundModel = null;

    int cid = 0;

    if (Request.QueryString["cid"] != null)
    {
        int.TryParse(Request.QueryString["cid"].ToString(), out cid);
    }

    if (Request.QueryString["tag"] != null)
    {
        var tag = Request.QueryString["tag"].ToString().Trim();
        modelList = modelList.Where(p => p.GetValue("tags").Value.Contains(tag));
    }


    if (cid != 0)
    {
        modelList = modelList.Where(p => p.GetValue("categoryId").Value == cid.ToString());
    }

    if (porjectUrl != null)
    {
        if (modelList.Any(p => p.GetValue("url").Value == porjectUrl.ToString()))
        {
            foundModel = modelList.FirstOrDefault(p => p.GetValue("url").Value == porjectUrl.ToString());
        }
        else
        {
            Response.Redirect("/404");
        }

    }

}

<div class="blog">

    @if (foundModel != null)
    {

        <div class="model">

            <div class="post-side">
                <div class="box related-posts">
                    <h2>
                        مطالب مرتبط
                    </h2>

                    <ul>
                        @foreach (var item in orginalModelList.Where(p => p.RowID != foundModel.RowID))
                        {

                            <li>
                                <a href="">
                                    <img src="@item.GetValue("thumb")" />
                                    <span>
                                       @item.GetValue("title").Value.ToPersianNumber()
                                    </span>
                                </a>
                            </li>
                        }
                       

                    </ul>

                </div>

            </div>
            <div class="content">

                <div class="info">
                    <h1>
                        <strong> @foundModel.GetValue("title") </strong>
                    </h1>
                    <div class="content-inner">
                        @Html.Raw(foundModel.GetValue("content").Value.ToPersianNumber())
                    </div>

                </div>

                <div style="margin-top:80px">
                    @Html.Partial("_comment")
                </div>

                <div style="margin-top:0!important">
                    @Html.Partial("_register")
                </div>

            </div>






        </div>


    }
    else
    {
        <div class="list">
            @foreach (var item in modelList)
            {

                <div class="post">

                    <a class="thumb" href="/articles/@item.GetValue("url")" style="background-image:url('@item.GetValue("thumb")')"></a>
                    <div class="info">
                        <a href="/articles/@item.GetValue("url")">
                            <h2>
                                <strong>
                                    @item.GetValue("title").Value.ToPersianNumber()
                                </strong>
                            </h2>
                        </a>
                        <div class="content">
                            @Html.Raw(item.GetValue("content"))
                        </div>
                        <div class="buttons">
                            <a href="/articles/@item.GetValue("url")" class="more">ادامه مطلب</a>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>

            }

        </div>
        <aside class="side">
            <div class="box tags" ng-show="model">
                <h2>
                    <i class="fa fa-tags"></i>    برچسب ها
                </h2>
                <ul class="categories">

              

                    @{
                        var tags = orginalModelList.SelectMany(p => p.GetValue("tags").Value.Split(new string[] { "#" },StringSplitOptions.RemoveEmptyEntries)).DistinctBy(p=>p);
                    }


                    @foreach (var tag in tags)
                    {
                        <li>
                            <a href="/articles?tag=@tag">@tag.Replace("_", " ") </a>
                        </li>
                    }



                </ul>

            </div>

        </aside>

                        }





    <div class="clear"></div>

</div>
