@using HCMS.Business.Auth
@using HCMS.Web.Areas.Manage.Models
@using HCMS.Dynamics.Data
@using HCMS.Dynamics.Tools
@using Microsoft.AspNet.Identity
@using System.Collections.Specialized
@{

    if (Request.QueryString["code"] == null || Request.QueryString["userid"] == null)
    {
        Response.Redirect("/");
    }

    var token = Request.QueryString["code"].ToString();
    var userId = Request.QueryString["userid"].ToString();

   var user = UserRepository.GetUserById(userId);

}

<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>
                ثبت رمز عبور جدید برای
                <small>
                    @user.UserName
                </small>
            </h3>
            <form id="resetPassword-form" action="/fa-ir/manage/auth/ResetPassword">
                @Html.AntiForgeryToken()
                <input type="hidden" name="code" value="@token" />
                <input type="hidden" name="isAjax" value="true" />
                <input type="hidden" name="userId" value="@userId" />
                <input type="hidden" name="email" value="@user.UserName" />

                <div class="input-field">
                    <label>رمز عبور </label> <input class="form-control" name="Password" required type="password" />
                </div>

                <div class="input-field">
                    <label>تایید رمز عبور</label> <input class="form-control" name="confirmpassword" required type="password" />
                </div>


                <div class="input-field">
                    <input type="submit" class="btn btn-sm btn-success" value="تایید" />
                </div>

            </form>
        </div>

    </div>
</div>

@section scripts{

    <script>

        $(function () {

            $(document)
     .on("submit",
         "#resetPassword-form",
         function (e) {
             e.preventDefault();
             var form = $(e.target);


             $.post(form.attr("action"),
                     form.serialize(),
                     function (data) {

                         if (data.result === true) {
                             swal({
                                 title: "",
                                 text: data.msg,
                                 type: "success"
                             },
                               function () {
                                   window.location = '/panel';
                               });
                         } else {
                             swal({
                                 title: "",
                                 text: data.msg,
                                 type: "error"
                             });

                         }

                     });
         });


        });

    </script>

}