@using HCMS.Dynamics.Data
@{
    var quickLinks = DDB.GetTable("cms", "quicklinks").DRows;
    var socials = DDB.GetTable("cms", "socials").DRows;
   


    ViewBag.title = "خانه";


}


<div class="right-icons hidden-mobile">
    <ul>
        @foreach (var item in quickLinks)
            {
            <li>
                <span>@item.GetValue("title")</span>
                <i title="@item.GetValue("title")" class="@item.GetValue("icon")"></i>
                <div class="descrp">
                    @Html.Raw(item.GetValue("text"))
                    <ul>
                        @foreach (var subitem in item.GetGroup("links"))
                        {

                            <li>
                                <a href="@subitem.GetValue("url")"> @subitem.GetValue("subtitle")</a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
        }
    </ul>
</div>

<div class="left-icons hidden-mobile">
    <ul>

        @foreach (var item in socials)
            {
            <li>
                <a href="@item.GetValue("url")" target="_blank">  <i class="@item.GetValue("icon")"></i></a>
            </li>

        }

    </ul>

   
</div>

<div class="left-icons-mobile">
    <i class="fa fa-share-alt"></i>
</div>

<div class="right-icons-mobile">
    <i class="fa fa-map"></i>
</div>

@Html.Partial("home/slider")

@Html.Partial("home/blocks")

@Html.Partial("home/videos")

@Html.Partial("home/partners")

@Html.Partial("home/places")

@Html.Partial("home/forms")

@Html.Partial("home/footer")

@section scripts {

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1YnR95LCRaznjcExHiMVSS6mt8GJXiks&callback=initMap">
    </script>
    <script src="~/Themes/hayat2/js/places.js"></script>
    <script>
        $('img#img-back-main').rwdImageMaps();
    </script>

}
