
@using HCMS.Dynamics.Data
@{
    var pages = DDB.GetTable("cms", "pages").DRows.OrderBy(p => p.GetValue("order").Value);

    var pageName = ViewContext.RequestContext.RouteData.Values["pageName"];

    if (pageName == null)
    {
        Response.Redirect("/404");
    }

    var page = pages.FirstOrDefault(p => p.GetValue("slug").ToString().ToLower() == pageName.ToString().ToLower());

    if (page == null)
    {
        Response.Redirect("/404");
    }

    var pageSections = DDB.GetTable("cms", "pageSections").DRows.Where(p => p.GetValue("pageId").Value == page.RowID.ToString()).OrderBy(p=>p.GetValue("order"));

    var i = 0;

    ViewBag.title = page.GetValue("name").Value;


    var horizontal = false;
    if (page.GetValue("horizontal") != null)
    {

        bool.TryParse(page.GetValue("horizontal").Value, out horizontal);

    }

}



@foreach (var item in pageSections)
{
    i++;

    <section id="section-@i" class="page page-custom @(horizontal ? "page-horizontal" :"" )">


        <div class="inner">

            <div class="row">



                @if (!string.IsNullOrWhiteSpace(item.GetValue("image").Value))
                {
                    <div class="col-lg-6 col-md-6 col-xs-12 @(i % 2 == 0 ? "pull-left" : "pull-right")">
                        <div class="text cscroll">
                            @Html.Raw(item.GetValue("content").Value)


                            <div class="buttons">

                                @if (!string.IsNullOrWhiteSpace(item.GetValue("linkText").Value))
                                {
                                    <a class="hayatbtn" href="@item.GetValue("link")">
                                        @item.GetValue("linkText")
                                    </a>
                                }

                            </div>

                        </div>
                    </div>

                    <div style="overflow:hidden;" class="col-lg-6 col-md-6 col-xs-12 @(i % 2 != 0 ? "pull-left" : "pull-right")">
                            <img class="pic" src="@item.GetValue("image")" />
                    </div>
                }
                else
                {
                    <div class="fulltext cscroll">

                        @Html.Raw(item.GetValue("content").Value)

                    </div>

                }



            </div>



        </div>

    </section>


}