@using HCMS.Dynamics.Data

@{

    var blocks = DDB.GetTable("cms", "blocks").DRows.OrderBy(p => p.GetValue("name").Value);
    //var units = DDB.GetTable("cms", "units").DRows.OrderBy(p => p.GetValue("block.name").Value).ThenBy(p => p.GetValue("block.level").Value);
    //var unitpictures = DDB.GetTable("cms", "unitpictures").DRows;
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("/auth#login");
    }
}


@foreach (var block in blocks)
        {
            var units = DDB.GetTable("cms", "units").DRows.Where(p => p.GetValue("blockId").Value == block.RowID.ToString());
            var blockName = block.GetValue("name").Value;
            foreach (var unit in units)
            {
                var unitpictures = DDB.GetTable("cms", "unitpictures").DRows.Where(a => a.GetValue("unit").Value == unit.RowID.ToString() && a.GetValue("planNumber").Value == unit.GetValue("planNumber").Value);
                var commentId = "comments_" + unit.RowID;
                var user_comments = "user_comments_" + unit.RowID;
                var unitName = unit.GetValue("name").Value.Replace("block", "b").ToUpper();
                if (unitpictures.Any())
                {
            <section class="page hasChild stop" id="@unit.RowID">

                @foreach (var pic in unitpictures)
    {
                    <article id="@pic.RowID" data-title="@pic.GetValue("title")" class="page-horizontal page-child">
                        <div class="full-image text-center">
                            @if (pic.GetValue("pov").Value != "")
                            {

                            <div class="pov">
                                <i class="fa fa-video-camera" aria-hidden="true" title="زاویه دید عکاس"></i>
                                <img src="@pic.GetValue("pov").Value" alt="زاویه دید عکاس" />
                            </div>
                            }

                            @*<u> @pic.GetValue("title")</u>*@
                            <img class="img img-responsive" src="@pic.GetValue("image").Value" alt="@pic.GetValue("title")" />

                            <div class="btn-arrow page-right"><i class="fa fa-chevron-right"></i></div>
                            <div class="btn-arrow page-left"><i class="fa fa-chevron-left"></i></div>
                            @*<div class="arrow">
                                    <img title="بعدی" alt="بعدی" class="right" src="~/Themes/hayat2/img/Arrow Black-Right.png" />

                                    <img title="قبلی" alt="قبلی" class="left" src="~/Themes/hayat2/img/Arrow Black-left.png" />
                                </div>*@
                            <div class="footer">
                                <div class="pull-right">
                                    <div class="share">
                                        <ul>
                                            <li>
                                                <a href="https://t.me/share/url?url=">
                                                    <i class="fa fa-telegram"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <a class="stars">
                                        <i class="fa fa-star-o" data-item="1"></i>
                                        <i class="fa fa-star-o" data-item="2"></i>
                                        <i class="fa fa-star-o" data-item="3"></i>
                                        <i class="fa fa-star-o" data-item="4"></i>
                                        <i class="fa fa-star-o" data-item="5"></i>

                                    </a>

                                </div>
                            </div>
                        </div>
                    </article>


                }

                <article id="@commentId" class="page-horizontal page-child">
                    <div class="comments">
                        @{
                            var _blockName = blockName.Substring(0, blockName.Length - 1) + "-" + blockName.Substring(blockName.Length - 1, 1);
                        }
                        <div>
                            <div class="header">
                                <h3>نام واحد : @unitName</h3>
                             
                                <a href="/blocks#@_blockName" class="hayatbtn pull-left">بازگشت به جدول</a>
                                @*<button class="btn btn-success">مقایسه کن</button>*@
                            </div>
                            <div class="body">

                                <div class="tabs">
                                    <div class="header">
                                        <span data-target="your-score" class="tab active">
                                            <i class="fa fa-user"></i>
                                            <label>
                                                امتیازهای شما
                                            </label>
                                        </span>
                                        <span data-target="prof-comment" class="tab">
                                            <i class="fa fa-comment"></i>
                                            <label>
                                                نظرات خبرگان و متخصصین
                                            </label>
                                        </span>
                                        <span data-target="users-comment" class="tab">
                                            <i class="fa fa-users"></i>
                                            <label>
                                                نظرات سایر کاربران
                                            </label>
                                        </span>
                                    </div>
                                    <div class="body cscroll">
                                        <div data-element="your-score" class="elm active">
                                            <div class="item col-md-6 col-md-offset-3 text-center">
                                                <br />
                                                <label class="alert alert-info">
                                                    شما امتیازی نداده اید. با دادن امیتاز ما را در خدمات بهتر یاری کنید.
                                                </label>
                                                @if (!User.Identity.IsAuthenticated)
                                                {
                                                    <label class="alert alert-info">
                                                        برای نظر دهی باید <a href="/auth">وارد</a> شوید.
                                                    </label>

                                                }
                                                <div class="rate">
                                                    <ul></ul>
                                                    <hr />

                                                    <form class="register">
                                                        <div class="col-md-6 col-sm-12 p-5">
                                                            <input type="text" class="form-control" name="name" placeholder="نام و نام خانوادگی" />
                                                        </div>
                                                        <div class="col-md-6 col-sm-12  p-5">
                                                            <input type="text" class="form-control" name="email" placeholder="شماره تماس / ایمیل" />
                                                        </div>
                                                        <div class="col-md-12  p-5">
                                                            <textarea class="form-control" name="text" placeholder="نظر شما"></textarea>
                                                        </div>
                                                        @if (User.Identity.IsAuthenticated)
                                                        {
                                                            <a class="btn btn-success submit">ارسال نظر</a>
                                                        }

                                                    </form>

                                                    <br />


                                                </div>

                                            </div>
                                        </div>
                                        <div data-element="prof-comment" class="elm">
                                            <div class="item col-md-12">
                                                <div class="prof-comment">
                                                    <ul></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-element="users-comment" class="elm">
                                            <div>

                                                <div class="user-comment">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>

            </section>
        }

    }

}

