@{
    var phrases = (HCMS.Dynamics.Localization.Phrases)ViewBag.Phrases;
    var cn = phrases.CurrentCulture.CultureName();
    ViewBag.Title = phrases.Get("Forgot password .");

}

<div class="login-page">

    <div class="container">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <form class="login-form" method="post">
                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-xs-12">
                        <h1>
                            <i class="fa fa-user-secret"></i>
                            @phrases.Get("Forgot password .")
                        </h1>


                        <label for="email">
                            <i class="fa fa-at"></i>
                            @phrases.Get("Email")
                        </label><input id="email" required name="email" placeholder="example@site.com" type="email" />

                        <div class="captcha">

                            <img src="/Account/Captcha/msdn" id="captcha-image" />
                            <span class="refresh"><i class="fa fa-refresh "></i>  </span>
                            <input id="captcha" required type="text" name="captcha" />
                        </div>


                        <input type="submit" class="btn btn-success" value="@phrases.Get("Send new password")" />
                        <div class="clearfix"></div>
                        @Html.ValidationSummary()
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
