


@using HCMS.Dynamics.Data
@{
    var models = DDB.GetTable("cms", "units").DRows.Where(a=>a.GetValue("Floor").Value == "1");
    var blocks = DDB.GetTable("cms", "blocks").DRows.ToArray();
    var blockA = blocks.FirstOrDefault(a => a.GetValue("name").Value == "Blocka");
    var blockB = blocks.FirstOrDefault(a => a.GetValue("name").Value == "Blockb");
    var blockC = blocks.FirstOrDefault(a => a.GetValue("name").Value == "Blockc");
    var blockM = blocks.FirstOrDefault(a => a.GetValue("name").Value == "Blockm");
    int count_ai = 0;
    int count_bi = 0;
    int count_ci = 0;
    int count_mi = 0;
}

<section class="page page-blocks gallery" id="blocks">
    <div class="container wow">
        <div class="row">
            <div class="col-md-12 main-block">


                <div class="row">

                    <div class="col-md-6 col-sm-12" data-aos="fade-left">
                        <div class="table cscroll">
                            <table class="table table-bordered">

                                <thead>
                                    <tr>
                                        <th>نام واحد</th>
                                        <th>متراژ</th>
                                        <th>جهت</th>
                                        <th>اتاق</th>
                                        <th>امتیاز</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody class="">
                                    @foreach (var item in models)
                    {
                        var unitName = item.GetValue("name").Value.Replace("block", "b").ToUpper();

                                        <tr id="blocks_@item.RowID" data-block-id="@item.GetValue("blockId")" data-planNum="@item.GetValue("planNumber")">
                                            <td>@unitName</td>
                                            <td> @item.GetValue("area")</td>
                                            <td> @item.GetValue("direction.name")</td>
                                            <td> @item.GetValue("rooms")</td>
                                            <td class="score"> - </td>
                                            <td>
                                                <a class="hayatbtn hayatbtn-sm" href="/units/#@item.RowID">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>


                            </table>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12" data-aos="fade-right">
                        <div class="map">
                            @*<img class="main-block" src="/Themes/hayat2/img/map/Blocks Maps.png" usemap="#main" />*@


                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" name=recortes-main>
                                <defs>
                                    <clipPath id=block-A>
                                        <polygon points="224, 55,204, 35,204, 29,193, 21,192, 23,178, 14,168, 20,159, 16,140, 20,137, 17,121, 20,90, 31,84, 27,74, 27,74, 32,58, 37,54, 32,2, 49,22, 204,55, 245,59, 245,60, 234,74, 228,79, 234,82, 250,103, 281,91, 130,170, 97,170, 77"></polygon>
                                    </clipPath>

                                    <clipPath id=block-B>
                                        <polygon points="400, 99,378, 81,375, 82,309, 28,311, 7,296, 5,274, 13,274, 21,262, 13,247, 19,239, 12,213, 18,211, 41,227, 56,228, 136,240, 141,260, 159,261, 185,278, 202,273, 274,294, 298,371, 259"></polygon>
                                    </clipPath>

                                    <clipPath id=block-C>
                                        <polygon points="172, 80,172, 98,93, 129,104, 296,167, 379,165, 391,189, 422,189, 426,196, 433,197, 442,199, 445,240, 425,242, 410,278, 388,277, 380,263, 386,278, 203,259, 184,254, 187,244, 177,244, 167,229, 151,223, 153,189, 118,189, 97"></polygon>
                                    </clipPath>

                                    <clipPath id=block-M>
                                        <polygon points="18, 189,-1, 193,1, 205,118, 391,185, 449,355, 484,361, 442,385, 377,495, 319,498, 305,390, 251,375, 240,372, 253,366, 259,288, 302,273, 285,262, 385,278, 378,278, 389,246, 409,246, 432,212, 449,206, 445,196, 446,195, 435,188, 425,189, 422,183, 411,103, 295,104, 285,74, 241,62, 233,59, 236,60, 245,21, 207"></polygon>
                                    </clipPath>

                                </defs>
                            </svg>

                            <figure id=figur-main>

                                <img class="back" id="img-back-main" src="/Themes/hayat2/img/map/Blocks Maps 72.png" usemap=#recortes-main />

                                <map name=recortes-main id=recortes-main>
                                    <area shape="poly" data-block-id="@blockA.RowID" data-block="block-a" id="coordBlockA" href="/blocks#block-a" title="بلوک A" coords="224, 55,204, 35,204, 29,193, 21,192, 23,178, 14,168, 20,159, 16,140, 20,137, 17,121, 20,90, 31,84, 27,74, 27,74, 32,58, 37,54, 32,2, 49,22, 204,55, 245,59, 245,60, 234,74, 228,79, 234,82, 250,103, 281,91, 130,170, 97,170, 77" />
                                    <area shape="poly" data-block-id="@blockB.RowID"  data-block="block-b" id="coordBlockB" href="/blocks#block-b" title="بلوک B" coords="400, 99,378, 81,375, 82,309, 28,311, 7,296, 5,274, 13,274, 21,262, 13,247, 19,239, 12,213, 18,211, 41,227, 56,228, 136,240, 141,260, 159,261, 185,278, 202,273, 274,294, 298,371, 259" />
                                    <area shape="poly" data-block-id="@blockC.RowID"  data-block="block-c" id="coordBlockC" href="/blocks#block-c" title="بلوک C" coords="172, 80,172, 98,93, 129,104, 296,167, 379,165, 391,189, 422,189, 426,196, 433,197, 442,199, 445,240, 425,242, 410,278, 388,277, 380,263, 386,278, 203,259, 184,254, 187,244, 177,244, 167,229, 151,223, 153,189, 118,189, 97" />
                                    <area shape="poly" data-block-id="@blockM.RowID"  data-block="block-m" id="coordBlockM" href="/blocks#block-m" title="مشاعات" coords="18, 189,-1, 193,1, 205,118, 391,185, 449,355, 484,361, 442,385, 377,495, 319,498, 305,390, 251,375, 240,372, 253,366, 259,288, 302,273, 285,262, 385,278, 378,278, 389,246, 409,246, 432,212, 449,206, 445,196, 446,195, 435,188, 425,189, 422,183, 411,103, 295,104, 285,74, 241,62, 233,59, 236,60, 245,21, 207" />

                                    <img id="capaRecorte-main" src="/Themes/hayat2/img/map/Block Hover.png" usemap=#recortes-main />
                                </map>

                                <img src="/Themes/hayat2/img/transparente.gif"
                                     id=imagen-main alt="" usemap=#recortes-main>

                            </figure>


                            <div class="child-block">
                                @if (blockA != null)
                                {
                                    foreach (var item in blockA.GetGroup("pictures"))
                                    {
                                        var className = "";
                                        switch (count_ai)
                                        {
                                            case 0:
                                                className = "first";
                                                break;
                                            case 1:
                                                className = "seconde";
                                                break;
                                            case 2:
                                                className = "third";
                                                break;
                                            default:
                                                break;
                                        }
                                        count_ai++;

                                        <div class="block-a @className">
                                            <img src="@item.GetValue("url").Value" class="thumnail"/>
                                            <label>@item.GetValue("title").Value</label>
                                        </div>
                                    }
                                }
                                <a class="hayatbtn show-mobile block-a-btn" href="/blocks#block-a">
                                    <i class="fa fa-eye"></i>
                                    مشاهده
                                </a>

                            </div>

                            <div class="child-block">
                                @if (blockB != null)
                                {
                                    foreach (var item in blockB.GetGroup("pictures"))
                                    {
                                        var className = "";
                                        switch (count_bi)
                                        {
                                            case 0:
                                                className = "first";
                                                break;
                                            case 1:
                                                className = "seconde";
                                                break;
                                            case 2:
                                                className = "third";
                                                break;
                                            default:
                                                break;
                                        }
                                        count_bi++;

                                        <div class="block-b @className">
                                            <img src="@item.GetValue("url").Value" class="thumnail"/>
                                            <label>@item.GetValue("title").Value</label>
                                        </div>
                                    }

                                }
                                <a class="hayatbtn show-mobile block-b-btn" href="/blocks#block-b">
                                    <i class="fa fa-eye"></i>
                                    مشاهده
                                </a>

                            </div>

                            <div class="child-block">
                                @if (blockC != null)
                                {
                                    foreach (var item in blockC.GetGroup("pictures"))
                                    {
                                        var className = "";
                                        switch (count_ci)
                                        {
                                            case 0:
                                                className = "first";
                                                break;
                                            case 1:
                                                className = "seconde";
                                                break;
                                            case 2:
                                                className = "third";
                                                break;
                                            default:
                                                break;
                                        }
                                        count_ci++;

                                        <div class="block-c @className">
                                            <img src="@item.GetValue("url").Value" class="thumnail"/>
                                            <label>@item.GetValue("title").Value</label>
                                        </div>
                                    }
                                }

                                    <a class="hayatbtn show-mobile block-c-btn" href="/blocks#block-c">
                                        <i class="fa fa-eye"></i>
                                        مشاهده
                                    </a>

                            </div>

                            <div class="child-block">
                                @if (blockM != null)
                                {
                                    foreach (var item in blockM.GetGroup("pictures"))
                                    {
                                        var className = "";
                                        switch (count_mi)
                                        {
                                            case 0:
                                                className = "first";
                                                break;
                                            case 1:
                                                className = "seconde";
                                                break;
                                            case 2:
                                                className = "third";
                                                break;
                                            default:
                                                break;
                                        }
                                        count_mi++;

                                        <div class="block-m @className">
                                            <img src="@item.GetValue("url").Value" class="thumnail"/>
                                            <label>@item.GetValue("title").Value</label>
                                        </div>
                                    }
                                }

                                <a class="hayatbtn show-mobile block-m-btn" href="/blocks#block-m">
                                    <i class="fa fa-eye"></i>
                                    مشاهده
                                </a>
                            </div>


                            </div>

                        </div>

                        <div class="clearfix"></div>
                    </div>


                </div>

                <ul class="show-mobile block-button">
                   <li>
                       <a href="/blocks#block-a" data-block="block-a">
                           بلوک A
                       </a>
                   </li>
                    <li>
                        <a href="/blocks#block-b" data-block="block-b">
                            بلوک B
                        </a>
                    </li>
                    <li>
                        <a href="/blocks#block-c" data-block="block-c">
                            بلوک C
                        </a>
                    </li>
                    <li>
                        <a href="/blocks#block-m" data-block="block-m">
                            مشاعات
                        </a>
                    </li>
                  
                </ul>



            </div>
        </div>
    <div class="full-image">
        <i class="fa fa-close"></i>

        <i class="fa fa-chevron-left" id="prev" aria-hidden="true"></i>

        <i class="fa fa-chevron-right" id="next"></i>

        <div class="preview">
            <img src="" data-item="" />
        </div>

        <!--<div class="thum">
            <ul>
                <li>
                    <a>
                        <img src="~/Themes/hayat2/img/my-slider/3.jpg" />
                    </a>
                </li>

                <li>
                    <a>
                        <img src="~/Themes/hayat2/img/my-slider/3.jpg" />
                    </a>
                </li>

                <li>
                    <a>
                        <img src="~/Themes/hayat2/img/my-slider/3.jpg" />
                    </a>
                </li>

                <li>
                    <a>
                        <img src="~/Themes/hayat2/img/my-slider/3.jpg" />
                    </a>
                </li>
            </ul>
        </div>-->

    </div>
</section>






