


@using HCMS.Dynamics.Data
@{
    var models = DDB.GetTable("cms", "units").DRows;
    var blocks = DDB.GetTable("cms", "blocks").DRows.ToArray();
    var blockA = blocks.Where(a => a.GetValue("name").Value == "Blocka");
    var blockB = blocks.Where(a => a.GetValue("name").Value == "Blockb");
    var blockC = blocks.Where(a => a.GetValue("name").Value == "Blockc");
    var blockM = blocks.Where(a => a.GetValue("name").Value == "Blockm");
    int count_ai = 0;
    int count_bi = 0;
    int count_ci = 0;
    int count_mi = 0;
}

<section class="page page-blocks" id="blocks">
    <div class="container wow">
        <div class="row">
            <div class="col-md-12 main-block">


                <div class="row">

                    <div class="col-md-6 col-sm-12" data-aos="fade-left">
                        <div class="table cscroll">
                            <table class="table table-bordered">

                                <thead>
                                    <tr>
                                        <th>نام واحد</th>
                                        <th>متراژ</th>
                                        <th>جهت</th>
                                        <th>اتاق</th>
                                        <th>امتیاز</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody class="">
                                    @foreach (var item in models)
                                    {
                                        var unitName = item.GetValue("name").Value.Replace("block", "b").ToUpper();

                                        <tr>
                                            <td>@unitName</td>
                                            <td> @item.GetValue("area")</td>
                                            <td> @item.GetValue("direction.name")</td>
                                            <td> @item.GetValue("rooms")</td>
                                            <td> - </td>
                                            <td>
                                                <a class="hayatbtn hayatbtn-sm" href="/units/#@item.GetValue("name").Value.Replace("-","_")">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>


                            </table>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12" data-aos="fade-right">
                        <div class="map">
                            @*<img class="main-block" src="/Themes/hayat2/img/map/Blocks Maps.png" usemap="#main" />*@


                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                <defs>
                                    <clipPath id=block-A>
                                        <polygon points="400, 99,378, 81,375, 82,309, 28,311, 7,296, 5,274, 13,274, 21,262, 13,247, 19,239, 12,213, 18,211, 41,227, 56,228, 136,240, 141,260, 159,261, 185,278, 202,273, 274,294, 298,371, 259"></polygon>
                                    </clipPath>

                                    <clipPath id=block-main>
                                        <polygon points="224, 55,204, 35,204, 29,193, 21,192, 23,178, 14,168, 20,159, 16,140, 20,137, 17,121, 20,90, 31,84, 27,74, 27,74, 32,58, 37,54, 32,2, 49,22, 204,55, 245,59, 245,60, 234,74, 228,79, 234,82, 250,103, 281,91, 130,170, 97,170, 77"></polygon>
                                    </clipPath>

                                    <clipPath id=block-C>
                                        <polygon points="172, 80,172, 98,93, 129,104, 296,167, 379,165, 391,189, 422,189, 426,196, 433,197, 442,199, 445,240, 425,242, 410,278, 388,277, 380,263, 386,278, 203,259, 184,254, 187,244, 177,244, 167,229, 151,223, 153,189, 118,189, 97"></polygon>
                                    </clipPath>

                                    <clipPath id=block-M>
                                        <polygon points="377, 242,499, 305,496, 318,420, 352,385, 377,359, 441,316, 476, 354, 473,311, 468,302, 473,188, 449,118, 391,84, 335,83, 329,2, 207,1, 194,17, 188,21, 207,55, 246,61, 234,72, 229,78, 236,79, 246,103, 285,103, 294,163, 380,165, 390,188, 420,190, 426,196, 434,196, 445,242, 424,245, 409,280, 387,277, 377,265, 384,273, 286,290, 302,367, 264,372, 257"></polygon>
                                    </clipPath>

                                </defs>
                            </svg>

                            <figure id=figur-main>

                                <img class="back" id="img-back-main" src="/Themes/hayat2/img/map/Blocks Maps 72.png" usemap=#recortes-main />

                                <map name=recortes-main id=recortes-main>
                                    <area shape="poly" data-block="block-a" id="coordBlockA" href="/blocks#block-a" title="بلوک B" coords="400, 99,378, 81,375, 82,309, 28,311, 7,296, 5,274, 13,274, 21,262, 13,247, 19,239, 12,213, 18,211, 41,227, 56,228, 136,240, 141,260, 159,261, 185,278, 202,273, 274,294, 298,371, 259" />
                                    <area shape="poly" data-block="block-b" id="coordBlockB" href="/blocks#block-main" title="بلوک A" coords="224, 55,204, 35,204, 29,193, 21,192, 23,178, 14,168, 20,159, 16,140, 20,137, 17,121, 20,90, 31,84, 27,74, 27,74, 32,58, 37,54, 32,2, 49,22, 204,55, 245,59, 245,60, 234,74, 228,79, 234,82, 250,103, 281,91, 130,170, 97,170, 77" />
                                    <area shape="poly" data-block="block-c" id="coordBlockC" href="/blocks#block-c" title="بلوک C" coords="172, 80,172, 98,93, 129,104, 296,167, 379,165, 391,189, 422,189, 426,196, 433,197, 442,199, 445,240, 425,242, 410,278, 388,277, 380,263, 386,278, 203,259, 184,254, 187,244, 177,244, 167,229, 151,223, 153,189, 118,189, 97" />
                                    <area shape="poly" data-block="block-m" id="coordBlockM" href="/blocks#block-m" title="مشاعات" coords="377, 242,499, 305,496, 318,420, 352,385, 377,359, 441,316, 476, 354, 473,311, 468,302, 473,188, 449,118, 391,84, 335,83, 329,2, 207,1, 194,17, 188,21, 207,55, 246,61, 234,72, 229,78, 236,79, 246,103, 285,103, 294,163, 380,165, 390,188, 420,190, 426,196, 434,196, 445,242, 424,245, 409,280, 387,277, 377,265, 384,273, 286,290, 302,367, 264,372, 257" />

                                    <img id="capaRecorte-main" src="/Themes/hayat2/img/map/Block Hover.png" usemap=#recortes-main />
                                </map>

                                <img src="/Themes/hayat2/img/transparente.gif"
                                     id=imagen-main alt="" usemap=#recortes-main>

                            </figure>


                            <div>
                                @foreach (var item in blockA)
                                {
                                    var className = "";
                                    switch (count_ai)
                                    {
                                        case 0:
                                            className = "first";
                                            break;
                                        case 1:
                                            className = "seconde";
                                            break;
                                        case 2:
                                            className = "third";
                                            break;
                                        default:
                                            break;
                                    }
                                    count_ai++;

                                    <div class="block-a @className">
                                        <img src="@item.GetValue("url").Value" />
                                        <label>@item.GetValue("title").Value</label>
                                    </div>
                                }


                                @*<div class="block-a seconde">
                                        <img src="~/Themes/hayat2/img/No_Image_Available.jpg" />
                                        <label>ضلع شرقی</label>
                                    </div>

                                    <div class="block-a third">
                                        <img src="~/Themes/hayat2/img/No_Image_Available.jpg" />
                                        <label>ضلع جنوبی</label>
                                    </div>*@
                            </div>


                            <div>
                                @foreach (var item in blockB)
                                {
                                    var className = "";
                                    switch (count_bi)
                                    {
                                        case 0:
                                            className = "first";
                                            break;
                                        case 1:
                                            className = "seconde";
                                            break;
                                        case 2:
                                            className = "third";
                                            break;
                                        default:
                                            break;
                                    }
                                    count_bi++;

                                    <div class="block-b @className">
                                        <img src="@item.GetValue("url").Value" />
                                        <label>@item.GetValue("title").Value</label>
                                    </div>
                                }


                            </div>

                            <div>
                                @foreach (var item in blockC)
                                {
                                    var className = "";
                                    switch (count_ci)
                                    {
                                        case 0:
                                            className = "first";
                                            break;
                                        case 1:
                                            className = "seconde";
                                            break;
                                        case 2:
                                            className = "third";
                                            break;
                                        default:
                                            break;
                                    }
                                    count_ci++;

                                    <div class="block-c @className">
                                        <img src="@item.GetValue("url").Value" />
                                        <label>@item.GetValue("title").Value</label>
                                    </div>
                                }


                            </div>

                            <div>
                                @foreach (var item in blockM)
                                {
                                    var className = "";
                                    switch (count_mi)
                                    {
                                        case 0:
                                            className = "first";
                                            break;
                                        case 1:
                                            className = "seconde";
                                            break;
                                        case 2:
                                            className = "third";
                                            break;
                                        default:
                                            break;
                                    }
                                    count_mi++;

                                    <div class="block-m @className">
                                        <img src="@item.GetValue("url").Value" />
                                        <label>@item.GetValue("title").Value</label>
                                    </div>
                                }


                            </div>

                        </div>

                        <div class="clearfix"></div>
                    </div>


                </div>

                <div class="show-768px">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <a href="/blocks#block-a">
                                    Block A
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <a href="/blocks#block-b">
                                    Block B
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <a href="/blocks#block-c">
                                    Block C
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="box">
                                <a href="/blocks#block-m">
                                    Block M
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>






