<section id="signup" class="page page-homeforms">
    <div class="container">

        <div class="row">

            <div class="col-md-6 col-md-offset-3">
                <h3 data-aos="fade-down">
                    ثبت نام
                    خریدار
                </h3>

                <div id="reg-err" class="alert alert-danger" style="display:none;">

                </div>

                <div id="reg-done" class="alert alert-success" style="display:none;">

                </div>

                <form method="post" id="register-form" action="/fa-ir/manage/Auth/register">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                <input type="hidden" name="isAjax" value="true" />
                <input type="hidden" name="ReturnUrl" value="/" />
                <input type="email" style="display: none;" />
                <input type="password" style="display: none;" />
                <div data-aos="fade-left" class="form-group">
                    <label>
                        نام کاربری
                        (
                        <i class="fa fa-at"></i>
                        ایمیل
                        <i class="fa fa-mobile-phone"></i>

                        یا شماره همراه
                        )

                    </label>

                    <input required name="Username" class="form-control" type="text" placeholder="ایمیل یا شماره همراه" />
                </div>

                <div data-aos="fade-left" class="form-group">
                    <label>
                        <i class="fa fa-key"></i>
                        رمز عبور
                    </label>
                    <input required name="password" class="form-control" type="password" />
                </div>
                <div data-aos="fade-left" class="form-group">
                    <label>
                        <i class="fa fa-key"></i>
                        تکرار رمز عبور

                    </label>
                    <input name="ConfirmPassword" required class="form-control" type="password" />
                </div>
                <div data-aos="fade-left" class="form-group captcha-field">
                    <img src="~/manage/Captcha/msdn?prefix=_register" id="captcha-image" />
                    <input class="captcha form-control" autocomplete="off" required type="text" name="captcha" placeholder="کد امنیتی را وارد کنید ..." />
                </div>
                <div data-aos="fade-left" class="form-group">
                    <button class="hayatbtn" type="button" id="reg-submit">
                        <i class="fa fa-check">
                        </i>
                        ثبت نام
                    </button>
                </div>
            </form>

            </div>




        </div>
    </div>
</section>

    <section id="cooprate" class="page page-homeforms">
        <div class="container">

            <div class="row">


                <div class="col-md-6 col-md-offset-3">

                    <h3 data-aos="fade-down">فرم ثبت نام همکاری</h3>

                    <div class="form">
                        <form action="/fa-ir/manage/Auth/RegisterByRole" method="post" role="form" class="contactForm">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()

                            <input type="hidden" name="isAjax" value="true" />
                            <input type="hidden" name="ReturnUrl" value="/" />
                            <input type="email" style="display: none;" />

                            <a class="text-danger">@Html.ValidationMessage("")</a>

                            <div class="row">

                                <div data-aos="fade-left" class="form-group">

                                    <label>
                                        <i class="fa fa-cube"></i>
                                        نوع همکاری
                                    </label>
                                    <select required name="role" class="form-control">
                                        <option>لطفا انتخاب کنید</option>
                                        <option value="employ">استخدام</option>
                                        <option value="colleague">همراهان (تامین کنندگان و پیمانکاران)</option>
                                        <option value="investment">سرمایه گذاران</option>

                                    </select>
                                </div>

                                <div data-aos="fade-left" class="form-group">
                                    <input type="text" required name="name" class="form-control" placeholder="نام و نام خانوادگی" />

                                </div>

                                <div data-aos="fade-left" class="form-group">
                                    <input type="email" required class="form-control" name="username" placeholder="آدرس پست الکترونیکی" />

                                </div>


                                <div data-aos="fade-left" class="form-group">
                                    <input type="text" required class="form-control" name="phone" placeholder="شماره همراه" />

                                </div>

                                

                                <div data-aos="fade-left" class="form-group">

                                    <input name="Password" required placeholder="رمز عبور" class="form-control" type="password" />
                                </div>

                                <div data-aos="fade-left" class="form-group">
                                 
                                    <input name="ConfirmPassword" required placeholder="تکرار رمز عبور" class="form-control" type="password" />
                                </div>
                                <div data-aos="fade-left" class="form-group captcha-field">
                                    <img src="~/manage/Captcha/msdn?prefix=_cooprate" id="captcha-image" />
                                    <input class="captcha form-control" autocomplete="off" required type="text" name="captcha" placeholder="کد امنیتی را وارد کنید ..." />
                                </div>

                            </div>
                            <button data-aos="fade-left" class="hayatbtn" type="submit">
                                <i class="fa fa-send">
                                </i>
                                ارسال
                            </button>
                        </form>
                    </div>
                </div>




            </div>
        </div>
    </section>


@section scripts{
    
    <script>
        $(document).on('click', '#reg-submit', function () {
            var buy = {};
            buy.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            buy.isAjax = true;

            buy.Email = $('input[name="UserName"]').val();
            buy.UserName = $('input[name="UserName"]').val();
            buy.password = $('input[name="password"]').val();
            buy.ConfirmPassword = $('input[name="ConfirmPassword"]').val();
            buy.captcha = $('input[name="captcha"]').val();

            $.ajax({
                type: 'POST',
                url: '/fa-ir/manage/Auth/register',
                data: buy
            }).success(function (res) {
                console.log(res);
                if (res.lenght > 0) {
                    $('#reg-err').css('display', 'block');
                    $('#reg-done').css('display', 'none');
                    var html = '<ul><li>' + res + '</li></ul>';
                    $('#reg-err').html(res);
                } else {
                    $('#err').css('display', 'none');
                    $('#reg-done').css('display', 'block');
                    $('#reg-done').html('ثبت نام شما با موفقیت انحام شد.');
                }
            }).error(function (err) {
                console.log(err);
            })
        })

</script>
    }