@{
    var phrases = (HCMS.Dynamics.Localization.Phrases)ViewBag.Phrases;
    var cc = phrases.CurrentCulture;
    var news = HCMS.Dynamics.Data.DDB.GetTable("cms", "news", cc.ID).DRows;
    HCMS.Dynamics.Data.DRow newsModel = null;
    int rid = 0;
    if (Request.QueryString["rid"] != null)
    {
        int.TryParse(Request.QueryString["rid"].ToString(), out rid);

        if (news.Any(p => p.RowID == rid))
        {

            newsModel = news.FirstOrDefault(p => p.RowID == rid);

        }
        else
        {
            Response.Redirect("/404");
        }

    }

}

<div id="pageHeading">
    <h1 data-aos="fade-left" class="page-heading">
        NEWS
    </h1>
</div>
<div id="pageContent">
    <div class="news-page">
        <div class="container">

            @if (newsModel != null)
            {
                <div class="news-model">

                    <div class="row">


                        <div class="col-md-8">

                            <div class="meta">
                                <h1 class="title">
                                    @newsModel.GetValue("title")
                                </h1>
                                <h3 class="date">
                                    @newsModel.GetValue("date")
                                </h3>
                                <h3 class="category">
                                    @newsModel.GetValue("category")
                                </h3>

                            </div>

                            <div class="full">
                                @Html.Raw(newsModel.GetValue("full").Value)
                            </div>

                        </div>

                        <div class="col-md-4 text-center">
                            <img data-aos="flip-right" class="news-img img-thumbnail img-responsive" src="@newsModel.GetValue("image")" alt="@newsModel.GetValue("title")" />
                        </div>
                    </div>

                </div>

            }
            else
            {
                foreach (var item in news)
                {
                    <div data-aos="fade-up" class="row news-item">
                        <div class="col-md-4">
                            <img class="img img-responsive img-thumbnail" src="@item.GetValue("image")" alt="" />
                        </div>

                        <div class="col-md-4">
                            <a class="ajax" href="/news?rid=@item.RowID">
                                <h4 class="date">@item.GetValue("date")</h4>
                                <h3 class="title">@item.GetValue("title")</h3>
                                <div class="read-more">
                                    READ MORE
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <h4 class="category">@item.GetValue("category")</h4>

                            <div class="short">

                                @Html.Raw(item.GetValue("short").Value.Replace(Environment.NewLine, "<br />"))

                            </div>
                        </div>

                    </div>
                }

            }
          
        </div>

    </div>
</div>
