@using System.Web.Optimization
@model HCMS.Web.Areas.Manage.Models.ChangeUserPasswordViewModel
@{
    var Phrases = (HCMS.Dynamics.Localization.Phrases)ViewBag.Phrases;
    ViewBag.Title = Phrases.Get("Change Password");
    var email = ViewBag.Email;
}

<h2>@ViewBag.Title "@ViewBag.Email"</h2>

@using (Html.BeginForm("ChangeUserPassword", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => email)
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
            <input type="password" id="password" name="password"/>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })*@
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Phrases.Get("Change")" class="btn btn-success" />
        </div>
    </div>
}

<div class="text-right">
    @Html.ActionLink(Phrases.Get("Back To List"), "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


