
@model HCMS.Web.Areas.Manage.Models.ForgotPasswordViewModel
@{
    var phrases = (HCMS.Dynamics.Localization.Phrases)ViewBag.Phrases;
    ViewBag.Title = phrases.Get("Forgot Password");

}



<div class="container">

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <form class="login-form" method="post">
            @Html.AntiForgeryToken()
            <div class="row">

                <div class="col-xs-12">
                    <h1>
                        <i class="fa fa-user-secret"></i>
                        @phrases.Get("forgot password")
                    </h1>

                    <input id="email" required placeholder="@phrases.Get("enter email address. For example ") - example@site.com" name="email" type="email" />
                    <div class="captcha">

                        <img src="/manage/captcha/msdn" id="captcha-image" />
                        <span class="refresh"><i class="fa fa-refresh "></i>  </span>
                        <input id="captcha" required type="text" name="captcha" placeholder="@phrases.Get("Security Code")" />
                    </div>


                    <input type="submit" class="btn btn-success" value="@phrases.Get("send new password to email")" />
                    <div class="clearfix"></div>
                    @Html.ValidationSummary()
                </div>
            </div>
        </form>
    </div>
</div>



@*@Html.Partial("Account/_Sky")*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
