@model HCMS.Dynamics.Grids.Models.GridModel
@{
    Form form = ViewBag.DynamicsForm;
    Layout = ViewBag.Layout;
    ViewBag.Title = form.GetCaption(CaptionModes.List);
}

<div class="dynamics-grid-container">
    <h1>
        @Model.Caption
    </h1>
    <div class="dynamics-grid-pagesize" data-gridname="@Model.Name">
        <label>
            تعداد ردیف در هر صفحه :
        </label>
        <select>
            @{ int[] pagesizes = { 5, 10, 20, 30, 50, 100, 200, 500, 1000 }; }
            @foreach (int ps in pagesizes)
            {
                <option @(ps == Model.PageSize ? "selected='selected'" : "")>@ps</option>
            }
        </select>


        <i title="ذخیره" class="fa fa-save dynamics-grid-save-pagesize "></i>

    </div>
    <div class="buttons">
        <a href="/Manage/Dynamics/@form.Section.Name/@form.Name/Create" class="btn btn-success">
            <i class="fa fa-plus"></i> @form.GetCaption(CaptionModes.Create)
        </a>
        <a href="#" class="btn btn-danger">
            <i class="fa fa-trash-o"></i> @form.GetCaption(CaptionModes.Delete)
        </a>
        <a href="#" class="btn btn-default">
            <i class="fa fa-download"></i> دریافت خروجی
        </a>
        <a href="#" class="btn btn-default">
            <i class="fa fa-upload"></i> ورود اطلاعات
        </a>

    </div>
    <table data-name="@Model.Name" data-cpage="1" data-url="@Model.DataURL" data-pagesize="@Model.PageSize" class="dynamics-grid table table-bordered">
        <thead>
            <tr>
                <th class="select"> <input type="checkbox" id="select-all" /> </th>
                @foreach (var col in Model.ColModels)
                {
                    <th>@col.Label</th>
                }

            </tr>

        </thead>
        <tbody></tbody>
    </table>

    <div class="dynamics-grid-pager" data-gridname="@Model.Name">

    </div>
</div>
@section scripts{
    <script src="~/Scripts/Dynamics/Base.Grids.js"></script>
}