@{
    Layout = null;

    var banners = HCMS.Dynamics.Data.DDB.GetTable("cms", "banners").DRows;
    var degrees = HCMS.Dynamics.Data.DDB.GetTable("cms", "degrees").DRows;

    var phrases = (HCMS.Dynamics.Localization.Phrases)ViewBag.Phrases;
    var cc = phrases.CurrentCulture;
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Packages/HCMS/js/DStats.min.js"></script>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>آنزیم | @ViewBag.title</title>

    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Themes/Anzim/img/favicon.png?v=3" type="image/png" />
    <link rel="apple-touch-icon" href="~/Themes/Anzim/img/favicon.png?v=3">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Themes/Anzim/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Themes/Anzim/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Themes/Anzim/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="~/Themes/Anzim/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/Themes/Anzim/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Themes/Anzim/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Themes/Anzim/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Themes/Anzim/css/theme.css">
    <link rel="stylesheet" href="~/Themes/Anzim/css/theme-elements.css">
    <link rel="stylesheet" href="~/Themes/Anzim/css/theme-blog.css">
    <link rel="stylesheet" href="~/Themes/Anzim/css/theme-shop.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/Themes/Anzim/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/Themes/Anzim/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="~/Themes/Anzim/vendor/rs-plugin/css/navigation.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Themes/Anzim/css/skins/skin-digital-agency.css">


    <!-- Demo CSS -->
    <link rel="stylesheet" href="~/Themes/Anzim/css/demos/demo-digital-agency.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/Themes/Anzim/css/custom.min.css?v=2">
    <link rel="stylesheet" href="~/Themes/Anzim/css/rtl.min.css?v=2">

    <!-- Head Libs -->
    <script src="~/Themes/Anzim/vendor/modernizr/modernizr.min.js"></script>

</head>
<body>

    <div class="body">
        <header id="header" class="header-narrow header-semi-transparent" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 1, 'stickySetTop': '0'}">
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-logo">
                                <a href="/">
                                    <img alt="@ViewBag.title" src="~/Themes/Anzim/img/logo.png">

                                </a>
                            </div>
                        </div>
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-nav header-nav-stripe">
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                        <i class="fa fa-bars"></i>
                                    </button>

                                    <ul class="header-social-icons social-icons hidden-xs">
                                        @*  <li class=""><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>*@
                                        <li class=""><a href="@phrases.Get("contact_instagram")" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                                        <li class=""><a href="@phrases.Get("contact_telegram")" target="_blank" title="Telegram"><i class="fa fa-telegram"></i></a></li>
                                    </ul>
                                    <a class="testcenter" target="_blank" href="http://exams.onanzim.ir">
                                        مرکز آزمون
                                    </a>
                                    <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1 collapse">
                                        <nav>
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="active">
                                                    <a href="/">
                                                        خانه
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        آزمون&zwnj;ها
                                                    </a>
                                                    <ul>
                                                        @foreach (var item in degrees)
                                                        {
                                                            <li>
                                                                <a href="/degrees?rid=@item.RowID">
                                                                    @item.GetValue("title")
                                                                </a>
                                                            </li>
                                                        }

                                                    </ul>
                                                </li>


                                                <li>
                                                    <a href="/faq">
                                                        سوالات متداول
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/weblog">
                                                        وبلاگ
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/coop">
                                                        همکاری با ما
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/contact">
                                                        تماس با ما
                                                    </a>
                                                </li>





                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">
            @if (ViewContext.RouteData.Values["viewname"].ToString() != "post")
            {
                if (banners.Any(p => p.GetValue("page").Value == ViewContext.RouteData.Values["viewname"].ToString()))
                {
                    var bn = banners.First(p => p.GetValue("page").Value == ViewContext.RouteData.Values["viewname"].ToString());
                    <div id="page_banner">
                        <div class="banner-container">
                            <img src="@bn.GetValue(" image")" />
                        </div>
                    </div>
                }
                else
                {

                    <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        @*<ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>*@

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            @{
                                var slideIndex = 0;
                            }
                            @foreach (var bn in banners.Where(p => p.GetValue("page").Value == "").OrderBy(p => p.GetValue("orderid").Value))
                            {



                                <div class="item @(slideIndex == 0 ? "active":"")">
                                    <img src="@bn.GetValue("image")" alt="">
                                    <div class="carousel-caption">
                                        @if (!string.IsNullOrWhiteSpace(bn.GetValue("title").Value))
                                        {
                                            <h1>@bn.GetValue("title")</h1>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(bn.GetValue("linkText").Value))
                                        {
                                            <a href="@bn.GetValue("link")">
                                                @bn.GetValue("linkText")
                                            </a>
                                        }
                                    </div>
                                </div>
                                slideIndex++;

                            }


                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-slider" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-slider" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                                    }
                                }
            @RenderBody()


        </div>

        <footer class="short" id="footer">
            <div class="container">
                <div class="row">


                    <div class="col-sm-3  col-sm-offset-3  ">
                        <h5 class="mb-sm">
                            <i class="fa fa-envelope text-color-primary"></i>   ایمیل :
                        </h5>

                        <span class="footer-email-custom"> <a href="mailto:@phrases.Get("contact_email")">@phrases.Get("contact_email")</a></span>

                    </div>


                    <div class="col-sm-3  align-right">
                        <h5 class="mb-sm">
                            <i class="fa fa-phone text-color-primary"></i>
                            شماره تماس :
                        </h5>
                        <span class="footer-email-custom phone font-size-sm ltr">@phrases.Get("contact_phone")</span>
                    </div>


                    <div class="col-sm-3  align-right">
                        <h5 class="mb-sm">
                            <i class="fa fa-map-marker text-color-primary"></i>
                            آدرس :
                        </h5>
                        <span class="footer-email-custom address font-size-sm">@phrases.Get("contact_address")</span>

                    </div>



                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr class="solid">
                        <div class="row">

                            <div class="col-md-6">

                                <ul class="social-icons pull-left">
                                    <li class=""><a href="@phrases.Get("contact_instagram")" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                                    <li class=""><a href="@phrases.Get("contact_telegram")" target="_blank" title="Telegram"><i class="fa fa-telegram"></i></a></li>
                                </ul>

                                <span class="text-color-primary pull-left">
                                    ما را در شبکه&zwnj;های اجتماعی دنبال کنید!
                                </span>

                            </div>

                            <div class="col-md-6">
                                <p>© تمامی حقوق برای وبسایت آنزیم محفوظ است.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vendor -->
    <script src="~/Themes/Anzim/vendor/jquery/jquery.min.js"></script>
    <script src="~/Themes/Anzim/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/Themes/Anzim/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Themes/Anzim/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="~/Themes/Anzim/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Themes/Anzim/vendor/common/common.min.js"></script>
    <script src="~/Themes/Anzim/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="~/Themes/Anzim/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="~/Themes/Anzim/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="~/Themes/Anzim/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="~/Themes/Anzim/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/Themes/Anzim/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Themes/Anzim/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Themes/Anzim/vendor/vide/vide.min.js"></script>
    <script src="~/Themes/Anzim/js/custom.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Themes/Anzim/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/Themes/Anzim/js/views/view.contact.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/Themes/Anzim/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Themes/Anzim/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Theme Custom -->
    <script src="~/Themes/Anzim/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Themes/Anzim/js/theme.init.js"></script>

    @RenderSection("scripts", false)


</body>
</html>